.manuales-container{
    margin: 3rem;
}

.manuales-card{
    padding: 3rem;
    width: 30rem;
    margin: auto;
}

.card-container-manual {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.manual-element {
    margin: auto;
    margin-bottom: 3rem;
}

.col-white{
    color: aliceblue;
}