#h1-title{
    color: #cfe2ff;
    text-align: center;
}

.sub-title {
    color: #cfe2ff;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.carousel {
    width: 50rem;
    margin: auto;
}

.carousel-height {
    height: 30rem;
}

.carousel-container {
    padding: 2rem;
    margin: 2rem 0;
}

.carousel-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #cfe2ff;
}

.carousel-canvas {
    background-color: rgba(0, 0, 0, 0.432);
}